body {
    background: #0b0b0b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Pumpkin body */
.pumpkin {
    position: relative;
    width: 200px;
    height: 180px;
    background: orange;
    border-radius: 50% 50% 45% 45%;
    box-shadow: inset -10px -10px 0 rgba(0,0,0,0.2);
}

/* Pumpkin stem */
.stem {
    position: absolute;
    top: -30px;
    left: 85px;
    width: 30px;
    height: 40px;
    background: brown;
    border-radius: 5px;
    transform: rotate(-10deg);
}

/* Eyes */
.eye {
    position: absolute;
    top: 50px;
    width: 30px;
    height: 30px;
    background: black;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.eye.left {
    left: 40px;
}

.eye.right {
    right: 40px;
}

/* Nose */
.nose {
    position: absolute;
    top: 90px;
    left: 85px;
    width: 30px;
    height: 20px;
    background: black;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* Mouth */
.mouth {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 140px;
    height: 50px;
    background: black;
    border-radius: 0 0 50% 50%;
    clip-path: polygon(
        0% 50%, 10% 70%, 20% 50%, 30% 70%, 40% 50%, 50% 70%, 
        60% 50%, 70% 70%, 80% 50%, 90% 70%, 100% 50%, 
        100% 100%, 0% 100%
    );
}
