h1 
{font-family: 'Quicksand', sans-serif;;
color: #415A77;
font-size: 60px;
text-align: center
}

ul
{font-family: 'Quicksand', sans-serif;;
color: #778DA9;
font-size: 30px;
}

ul:hover
{font-family: 'Quicksand', sans-serif;
color: #415A77;
}

h1
{font-family: 'Quicksand', sans-serif;;
color: #778DA9;
font-size: 30px;
}

h2
{font-family: 'Quicksand', sans-serif;;
color: #778DA9;
font-size: 30px;
}

a
{font-family: 'Quicksand', sans-serif;;
color: #778DA9;
font-size: 30px;
}

body {
	background-color: #f2e6ec;
}